extends layout

block content
	form(action="/exam", method="POST")
		div.form-group
			label(for="subject")
				|Predmet
			select#subject.form-control(name="SubjectId")
				each subject in subjects
					option(value=subject.id)= subject.name
		div.form-group
			label(for="date")
				|Dátum (zatiaľ vo formáte YYYY-MM-DD)
			input#date.form-control(type="text", name="date")
		div.form-group
			label(for="group")
				|Skupina
			select#group.form-control(name="group")
				option(value=0) Obidve skupiny
				option(value=1) 1. skupina
				option(value=2) 2. skupina
		div.form-group
			label(for="topic")
				|Téma písomky:
			textarea#topic.form-control(name="topic")
		input(type="submit")