doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-2.1.0.min.js")
    script(src="/javascripts/bootstrap.min.js")
  body
    div.col-md-6.col-md-offset-3
      div.header
        if authenticated
          ul.pull-right.nav.nav-pills
            li
              a(href="/exam") Písomky
            li
              a(href="/subject") Predmety
            li
              a(href="/exam/new") Pridať písomku
        h3.text-muted= title
      main
        block content