extends layout

block content
  table.table
    tr
      th Názov
      th Skratka
      th
    each subject in subjects
      tr
        td= subject.name 
        td= subject.abbreviation
        td
          form.button-form.pull-right(action="/subject/"+subject.id method="POST")
            input(type="hidden" name="_method" value="delete")
            button.btn.btn-sm.btn-danger(type="submit") Vymazať
  h2 Pridať predmet
  form(action="/subject" method="POST")
    div.form-group 
      label(for="name")
        |Názov predmetu
      input#name.form-control(type="text" name="name")
    div.form-group
      label(for="abbrev")
        |Skratka
      input#abbrev.form-control(type="text" name="abbreviation")
    button.btn.btn-primary(type="submit") Pridať predmet
